# Archivos de Historial y Sesión de R
.Rhistory
.RData
.Ruserdata

# Archivos específicos del usuario de RStudio
.Rproj.user/

# Archivos de entorno que pueden contener secretos
.Renviron

# Reglas para el paquete RENV
# Ignora todo dentro de la carpeta renv...
renv/
# ...EXCEPTO estos archivos importantes que SÍ deben subirse.
!renv/activate.R
!renv/settings.json
!renv/settings.dcf

# Cache de R Markdown y Knitr
*_cache/
/cache/

# Archivos de salida comunes
# *.html
*.pdf
# Ignoraremos los archivos md intermedios ya que estaremos usando los html como última presentación
# *.md
# Excepto los README
# !README.md

# Ignorar archivos de variables de entorno en cualquier lugar
**/.env

